:root {

    --background-clr: #f7f8fa;

}
.header {
    height: 200px;
    line-height: 200px;
}
.header__nameplate {
    padding: 0;
}

.app {
    background-color: var(--background-clr, #f7f8fa);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility;
}
.highlight-box {
    transition: 300ms;
}

.card {
    border-radius: 10px;
    box-shadow: 0 26px 40px -24px rgba(0,0,0,0.2);
    padding: 2em;
    margin-bottom: 3em;
}

.page__tasks {
    margin-right: 3em;
}
